body {
    height: 100vh;
    background: rgb(32,203,56);
    background: linear-gradient(241deg, rgba(32,203,56,1) 7%, rgba(36,129,245,1) 81%);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1 {
    color: #efef;
    margin: 0;
    font-size: 3rem;
    text-align: center;
}

h2{
    color: rgb(205, 255, 205);
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}